ABSTRACT_MAX_LEN=180
TIMESPAN_HOURS=3
RSS_LINK_FILE=links.txt
ONEBOT_ENDPOINT=http://onebot.example.com
ONEBOT_TOKEN=Ciallo
SELF_ID=114514
GROUP_IDS=1919810:170001

MOJO_LOG_SHORT=1
MOJO_INACTIVITY_TIMEOUT=0
MOJO_MAX_REDIRECTS=5

HTTP_PROXY=http://proxy.yourproxy:11451
HTTPS_PROXY=http://proxy.myproxy:19198
